<div class="container">
  <nav></nav>
  <div class="row">
    <div class="col-sm-12 text-sm-center">
      <h1>Everything must start somewhere</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 text-sm-center">
      <h3>First column</h3>
    </div>
    <div class="col-sm-6 text-sm-center">
      <h3>Second column</h3>
    </div>
  </div>
</div>